*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(141, 32, 141);
}
#header{
    background-color: rgba(2, 0, 2, 0.308);
}
h1{
    background-color: aqua;
    color: #222;
    padding: 24px;
    margin-right: 24px;
    border: 20px groove red;
    }